@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@400..900&family=Ysabeau+SC:wght@1..1000&display=swap");
:root {
  --text-color: white;
  --backgrond: black;
  --primary-font-style: "Roboto", serif;
  --bg-nav: white;
  --handwritten: "Great Vibes", serif;
  --robotic: "Ysabeau SC", serif;
  --cyperText: "Orbitron", serif;
}
.tagline {
  font-family: var(--cyperText);
  text-align: center;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  color: var(--text-color);
  font-family: var(--primary-font-style);
}
main {
  margin: 15px;
}
body {
  padding: 0px 15px;
  background-color: var(--backgrond);
  font-family: var(--primary-font-style);
}
p {
  font-size: 1.2rem;
}
ul {
  padding: 1rem;
}
li {
  font-size: 1rem;
}
table {
  border: 1px solid black;
  margin: 15px;
  border-collapse: collapse;
  width: 70vw;
  margin: auto;
}
th,
td,
tr {
  border: 2px solid green;
  padding: 15px 5px;
  border-collapse: collapse;
}

#poster {
  width: 500px;
  object-fit: fill;
  margin: auto;
  height: 300px;
}
#poster-container {
  display: flex;
  background-color: #532b69;
  justify-content: center;
}

/* scrollbar */
::-webkit-scrollbar {
  display: none;
}

